<!-- <p>Пост №0 : {{ posts.0 }}</p>
<p>Пост №1 : {{ posts.1 }}</p> -->

<!-- <h1>{{ posts.0.title }}</h1>
<p>{{ posts.0.text }}</p>

<h1>{{posts.1.title}}</h1>
<p>{{posts.1.text}}</p> -->

<!-- {% for p in posts %}
    {%if p.title != null%}
        <h1>{{p.title}}</h1>
        <ol>
            <li>{{p.text}}</li>
        </ol>
    {%endif%}


{% endfor %} -->

{% load static %}

<img src={% static 'article/cat.png' %}>
<link rel="stylesheet" href={% static 'article/style.css' %}>

<h1>Автор постов: {{user}}</h1>


<ul> 
    {%for article in data%}
        <div class="div_art">
            <li> 
                <div class="art_main_text">
                    <h2>{{article}}</h2>  
                    <p class="art_text">{{article.text}}</p>
                </div>
            </li>
                <p class="art_date"><b>{{article.dt}}</b></p>
        </div>
    {%endfor%}
    
</ul>

<!-- Запись № {{forloop.counter}} -->